<div class="post_vote" value="{{post.id}}">
    <div class="post_vote_totals">
        {% load voting_tags %}
        {% score_for_object post as score %}
        <span class="post_vote_score">{{ score.score }}</span> point{{ score.score|pluralize }}
        after <span class="post_vote_num_votes">{{ score.num_votes }}</span> vote{{ score.num_votes|pluralize }}
    </div>
	{% if not user.is_anonymous %}
    <div class="post_vote_user">
        {% vote_by_user user on post as vote %}
		{{ user }}: 
		{% if vote %}
			{{ vote|vote_display:"Bodacious,Bogus" }}
		{% else %}
			No Vote
		{% endif %}
    </div>
	<div class="post_vote_vote">
		<button class="post_up_vote" value="{{post.id}}">
			Bodacious
		</button>
		<button class="post_down_vote" value="{{post.id}}">
			Bogus
		</button>
		<button class="post_clear_vote" value="{{post.id}}">
			Clear Vote
		</button>
	</div>
	{% else %}
	<div class="login_to_vote">
			<a href="/accounts/login">Login to Vote!</a>
			<a href="/accounts/register">Or Register!</a>
	</div>
	{% endif %}
</div>
