<div class="post_vote">
    <div class="post_vote_totals">
        {% load voting_tags %}
        {% score_for_object post as score %}
        {{ score.score }} point{{ score.score|pluralize }}
        after {{ score.num_votes }} vote{{ score.num_votes|pluralize }}
    </div>
    <div class="post_vote_user">
        {% vote_by_user user on post as vote %}
		{{ user }}: 
		{% if vote %}
			{{ vote|vote_display:"Bodacious,Bogus" }}
		{% else %}
			No Vote
		{% endif %}
    </div>
	<div class="post_vote_vote">
		<button class="post_up_vote" value="{{post.id}}">
			UpVote
		</button>
		<button class="post_down_vote" value="{{post.id}}">
			DownVote
		</button>
		<button class="post_clear_vote" value="{{post.id}}">
			ClearVote
		</button>
		
	</div>
</div>
