{% load analytical %}
<!DOCTYPE html> 
<html lang="es"> 
	<head>
		<title>Voyeur Hero</title>
		<link rel="shortcut icon" href="http://a0.twimg.com/profile_images/1379284432/middle_finger_normal.jpg" type="image/icon" /> 
		<link rel="icon" href="http://a0.twimg.com/profile_images/1379284432/middle_finger_normal.jpg" type="image/icon" /> 
		<meta charset="utf-8" /> 
		{% block libraries %}
		{% include "backend/libraries.html" %}
		{% endblock libraries %}
		
		{% block links %}
		{% include "backend/links.html" %}
		{% endblock links %}
		{% block scripts %}
		{% endblock scripts %}
		{% analytical_head_top %}
        {% analytical_head_bottom %}
		{% include "google_analytics.html" %}
	</head>
	<body id="index" class="home"> 
	<header id="banner" class="body">
		<h1><a href="/">Voyeur Hero! <br /><strong>Look, You're Famous</strong></a></h1>
		<div id="login">
			{% include "accounts/login_prompt.html" %}
		</div>
		<nav>
			<ul> 
				<li class="active"><a href="/">home</a></li> 
				<li><a href="/backend/search">Category Search</a></li>
				<li><a href="/search">Post Search</a></li> 
				<li><a href="/backend/contact">contact</a></li> 
			</ul>
		</nav> 
	</header><!-- /#banner --> 
	<section id="content" class="body"> 
			{% block content %}
			No Content
			{% endblock content %}
	</section>
	
	<footer id="contentinfo" class="body"> 
		<address id="about" class="vcard body"> 
			<span class="primary"> 
				<strong><a href="#" class="fn url">Voyeur Hero</a></strong> 
				<span class="role">Jet Phillips</span> 
			</span><!-- /.primary --> 
		
			<img src="/vh/static/images/jet.jpg" alt="Jet Phillips Logo" class="photo" /> 
		
			<span class="bio">Voyeur Hero globalizes your happenstances</span> 
		
		</address><!-- /#about --> 
		
		<p>2011 <a href="http://jetphillips.info">Jet Phillps Inception</a>.</p> 
	</footer><!-- /#contentinfo --> 
	{% analytical_body_top %}
	{% analytical_body_bottom %}
	</body>
</html>
