{% extends "backend/base.html" %}
{% block content %}<a href="/backend/newpost">New Post</a>
{% for category in categories %}
{% include "backend/category_box.html" %}
{% endfor %}
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
	{% include "backend/ajax_csrf_code.js" %}
	{% include "backend/string_format.js" %}
	function handle_voter(type,id) {
		var fun = function(data) {
			mapper = {
				up: 'Bodacious',
				down: 'Bogus',
				clear: 'No Vote'
			}
			jqString = '[class="post_vote"][value="{0}"]'.format(id);
			post = $(jqString);
			$('.post_vote_score',post).text(data.score.score);
			$('.post_vote_num_votes',post).text(data.score.num_votes);
			
		}
		return fun;
	}
    
    function voter(type){
        var fun = function(event){
            id = event.target.value;
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: 'post_vote/' + id + '/' + type + 'vote/',
                success: handle_voter(type,id)
            });
        }
        return fun;
    }
    
    $(function(){
        $('.post_up_vote').click(voter('up'));
        $('.post_down_vote').click(voter('down'));
		$('.post_clear_vote').click(voter('clear'));
    });
</script>
{% endblock scripts %}